* {
    box-sizing: border-box;
}

body {
    background: url(/static/images/background.jpg) center no-repeat;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 20px;
    width: 100vw;
}

.timing-tower {
    background-color: red;
}
